{% extends 'base.html' %}
{% load static %}

{% block styles %}
<!-- flatpickr -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="mb-4">{{ header }}</h1>
            {% include 'partials/opening_time_table.html' %}  
            <div class="card mb-4 mt-5">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <h2 class="card-title">Reservation card</h2>
                        </div>
                    </div>
                    <form method="post" class="reservation-form">
                        {% csrf_token %}

                        <div id="available-tables" style="display:none;"></div>

                        <!-- Display non-field errors -->
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <!-- Reservation date field -->
                        <div class="form-group">
                            {{ form.reservation_date.label_tag }}
                            {{ form.reservation_date }}
                            <!-- Display field-specific errors -->
                            {% if form.reservation_date.errors %}
                            <div class="text-danger">
                                {{ form.reservation_date.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <!-- Guest count field -->
                        <div class="form-group">
                            {{ form.guest_count.label_tag }}
                            {{ form.guest_count }}
                            {% if form.guest_count.errors %}
                            <div class="text-danger">
                                {{ form.guest_count.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <!-- Note field -->
                        <div class="form-group">
                            {{ form.note.label_tag }}
                            {{ form.note }}
                            {% if form.note.errors %}
                            <div class="text-danger">
                                {{ form.note.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <h3>Preferences</h3>
                        <!-- Other preference fields -->
                        <div class="form-group">
                            {{ form.is_quiet.label_tag }}
                            {{ form.is_quiet }}
                            {% if form.is_quiet.errors %}
                            <div class="text-danger">
                                {{ form.is_quiet.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.is_outside.label_tag }}
                            {{ form.is_outside }}
                            {% if form.is_outside.errors %}
                            <div class="text-danger">
                                {{ form.is_outside.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.has_bench_seating.label_tag }}
                            {{ form.has_bench_seating }}
                            {% if form.has_bench_seating.errors %}
                            <div class="text-danger">
                                {{ form.has_bench_seating.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.has_disabled_access.label_tag }}
                            {{ form.has_disabled_access }}
                            {% if form.has_disabled_access.errors %}
                            <div class="text-danger">
                                {{ form.has_disabled_access.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <p><strong>Please Note:</strong> While we will do our best to accommodate your preferences, we cannot guarantee them.</p>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="{% url 'user_reservations' %}" class="btn btn-cancel">Cancel Changes</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function () {

        const flatpickrInstance = flatpickr("#id_reservation_date", {
            enableTime: true,
            dateFormat: "Y/m/d H:i",
            time_24hr: true,
            minuteIncrement: 15, // Set minute increment to 15
            allowInput: false, // Disallow manual input
            onChange: function (selectedDates, dateStr, instance) {
                const selectedDate = selectedDates[0];
                //console.log('Selected Date Object:', selectedDate);
                //console.log('Selected Date String:', dateStr);

                const formattedDate = selectedDate ? selectedDate.toISOString() : '';
                //console.log('Formatted Date (ISO):', formattedDate);

                // Custom validation for 15-minute increments
                const minutes = selectedDate.getMinutes();
                if (minutes % 15 !== 0) {
                    alert("Please select a time in 15-minute increments.");
                    instance.clear(); // Clear the input if invalid
                }
            },
        });

        // Set the initial date value from the form
        const initialDateValue = reservationDateInput.value;
        if (initialDateValue) {
            console.log('Setting Date Value:', initialDateValue);
            flatpickrInstance.setDate(initialDateValue, false);
        }

        // Function to hide/show flatpickr calendar based on screen width
        function handleCalendarVisibility() {
            const screenWidth = window.innerWidth;
            const calendar = document.querySelector('.flatpickr-calendar');

            if (calendar) {
                if (screenWidth < 425) {
                    calendar.style.display = 'none'; // Hide calendar on small screens
                } else {
                    calendar.style.display = 'inline'; // Show calendar on larger screens
                }
            } else {
                console.error('flatpickr-calendar not found!');
            }
        }

        // Add event listener for window resize
        window.addEventListener('resize', function () {
            handleCalendarVisibility(); // Recheck on window resize
        });
    });
</script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
<style>
    /* Flatpickr calendar */
    .flatpickr-calendar {
        margin: 5px;
        background: #abbaad;
        /* Set background color */
        border-radius: 0;
    }
</style>
{% endblock %}