{% extends 'base.html' %}
{% load static %}

{% block styles %}
<!-- flatpickr -->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mt-3 offset-md-2">
            <h1 class="mb-4">{{ header }}</h1>
            {% include 'partials/opening_time_table.html' %}  
            <div class="card mb-4 mt-5">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <h2 class="card-title">Reservation card</h2>
                        </div>
                    </div>
                    <form method="post" class="reservation-form">
                        {% csrf_token %}

                        <div id="available-tables" style="display:none;"></div>

                        <!-- Display non-field errors -->
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {{ form.non_field_errors }}
                        </div>
                        {% endif %}

                        <!-- Reservation date field -->
                        <div class="form-group">
                            {{ form.reservation_date.label_tag }}
                            {{ form.reservation_date }}
                            <!-- Display field-specific errors -->
                            {% if form.reservation_date.errors %}
                            <div class="text-danger">
                                {{ form.reservation_date.errors }}
                            </div>
                            {% endif %}
                            <p>*Reservation time must be in 15-minute increments.</p>
                        </div>

                        <!-- Guest count field -->
                        <div class="form-group">
                            {{ form.guest_count.label_tag }}
                            {{ form.guest_count }}
                            {% if form.guest_count.errors %}
                            <div class="text-danger">
                                {{ form.guest_count.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <!-- Note field -->
                        <div class="form-group">
                            {{ form.note.label_tag }}
                            {{ form.note }}
                            {% if form.note.errors %}
                            <div class="text-danger">
                                {{ form.note.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <h3>Preferences</h3>
                        <!-- Other preference fields -->
                        <div class="form-group">
                            {{ form.is_quiet.label_tag }}
                            {{ form.is_quiet }}
                            {% if form.is_quiet.errors %}
                            <div class="text-danger">
                                {{ form.is_quiet.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.is_outside.label_tag }}
                            {{ form.is_outside }}
                            {% if form.is_outside.errors %}
                            <div class="text-danger">
                                {{ form.is_outside.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.has_bench_seating.label_tag }}
                            {{ form.has_bench_seating }}
                            {% if form.has_bench_seating.errors %}
                            <div class="text-danger">
                                {{ form.has_bench_seating.errors }}
                            </div>
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.has_disabled_access.label_tag }}
                            {{ form.has_disabled_access }}
                            {% if form.has_disabled_access.errors %}
                            <div class="text-danger">
                                {{ form.has_disabled_access.errors }}
                            </div>
                            {% endif %}
                        </div>
                        <p><strong>Please Note:</strong> While we will do our best to accommodate your preferences, we cannot guarantee them.</p>
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="{% url 'user_reservations' %}" class="btn btn-cancel">Cancel Changes</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'js/flatpickr.js' %}"></script>
<link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
{% endblock %}
{% block endstyles %}
<style>
    /* Flatpickr calendar */
    .flatpickr-calendar {
        margin: 5px;
        background: #abbaad;
        /* Set background color */
        border-radius: 0;
    }
</style>
{% endblock %}