{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Reservation Preview</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4  reservation-card">
                <div class="card-body">
                    <!-- Display reservation details -->
                    <p><strong>Date:</strong> {{ reservation.reservation_date|date:"Y-m-d H:i" }}</p>
                    <p><strong>Guest Count:</strong> {{ reservation.guest_count }}</p>
                    <p><strong>Note:</strong> {{ reservation.note }}</p>
                    <p><strong>Quiet:</strong> {{ reservation.is_quiet }}</p>
                    <p><strong>Outside:</strong> {{ reservation.is_outside }}</p>
                    <p><strong>Bench Seating:</strong> {{ reservation.has_bench_seating }}</p>
                    <p><strong>Disabled Access:</strong> {{ reservation.has_disabled_access }}</p>
                    
                    <!-- Display other details as needed -->
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'edit_reservation' reservation.pk %}" class="btn btn-primary">Amend Reservation</a>
                        <a href="{% url 'user_reservations' %}" class="btn btn-secondary">My Reservations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}