{% extends 'base.html' %}

{% block styles %}
    <!-- flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Reservation Preview</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4  reservation-card">
                <div class="card-body">
                    <!-- Display reservation details -->
                    <p><strong>Date:</strong> {{ reservation.reservation_date|date:"Y-m-d H:i" }}</p>
                    <p><strong>Guest Count:</strong> {{ reservation.guest_count }}</p>
                    <p><strong>Note:</strong> {{ reservation.note }}</p>
                    <p><strong>Quiet:</strong> {{ reservation.is_quiet }}</p>
                    <p><strong>Outside:</strong> {{ reservation.is_outside }}</p>
                    <p><strong>Bench Seating:</strong> {{ reservation.has_bench_seating }}</p>
                    <p><strong>Disabled Access:</strong> {{ reservation.has_disabled_access }}</p>
                    
                    <!-- Display other details as needed -->
                    
                    <div class="text-center mt-3">
                        <a href="{% url 'edit_reservation' reservation.pk %}" class="btn btn-primary">Amend Reservation</a>
                        <a href="{% url 'user_reservations' %}" class="btn btn-secondary">My Reservations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Initialize Flatpickr
                const flatpickrInstance = flatpickr("#id_reservation_date", {
                    enableTime: true,
                    dateFormat: "Y/m/d H:i",
                    time_24hr: true,
                    minuteIncrement: 5,
                    allowInput: true,
                    minTime: "09:00",
                    maxTime: "22:00",
                    inline: true,
                    onReady: function(selectedDates, dateStr, instance) {
                        handleCalendarVisibility(); // Call this on initialization
                    }
                });

                // Function to hide/show flatpickr calendar based on screen width
                function handleCalendarVisibility() {
                    const screenWidth = window.innerWidth;
                    const calendar = document.querySelector('.flatpickr-calendar');

                    if (calendar) {
                        if (screenWidth < 425) {
                            calendar.style.display = 'none'; // Hide calendar on small screens
                        } else {
                            calendar.style.display = 'inline'; // Show calendar on larger screens
                        }
                    } else {
                        console.error('flatpickr-calendar not found!');
                    }
                }

                // Add event listener for window resize
                window.addEventListener('resize', function() {
                    handleCalendarVisibility(); // Recheck on window resize
                });
            });
        </script>
        <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/airbnb.css">
        </body>
        <style>
        /* Flatpickr calendar */
        .flatpickr-calendar {
            background: rgba(255, 255, 255, 0.9); /* Set background color */
            border-radius: 0;
        }
        </style>
{% endblock %}