{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <h1 class="mb-4">Amend a Reservation</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card mb-4">
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Submit</button> |
                            <a href="{% url 'user_reservations' %}" class="btn btn-delete">Cancel Changes</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
