{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Booking Entries Column -->
        <div class="col-12 mt-3 left">
            {% if object_list %}
            <div class="row">
                {% for reservation in object_list %}
                <div class="col-md-4">
                    <div class="card mb-4 mt-5">
                        <div class="card-body">
                            <div class="image-container">
                                <div class="image-flash">
                                    <!-- Display "Reservation for ## Guests" -->
                                    <h2 class="card-title">Reservation for {{ reservation.guest_count }} Guests</h2>
                                </div>
                            </div>
                            <p class="card-text mt-3"><strong>Date:</strong> {{ reservation.reservation_date|date:"F j, Y, H:i" }}</p>
                            <hr>
                            
                            <p class="card-text h6"><strong>Status:</strong> {{ reservation.get_status_display }}</p>
                            
                            <!-- Display the note under Status -->
                            <p class="card-text"><strong>Note:</strong> {{ reservation.note }}</p>

                            <!-- Display Preferences -->
                            <div class="preferences">
                                <div class="preference-row">
                                    <div class="preference-item">
                                        <div class="label">Quiet:</div>
                                        <div class="value">
                                            {% if reservation.is_quiet == 'yes' %} Yes
                                            {% elif reservation.is_quiet == 'no' %} No
                                            {% else %} No Preference
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="preference-item">
                                        <div class="label">Outside:</div>
                                        <div class="value">
                                            {% if reservation.is_outside == 'yes' %} Yes
                                            {% elif reservation.is_outside == 'no' %} No
                                            {% else %} No Preference
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="preference-row">
                                    <div class="preference-item">
                                        <div class="label">Bench Seating:</div>
                                        <div class="value">
                                            {% if reservation.has_bench_seating == 'yes' %} Yes
                                            {% elif reservation.has_bench_seating == 'no' %} No
                                            {% else %} No Preference
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="preference-item">
                                        <div class="label">Disabled Access:</div>
                                        <div class="value">
                                            {% if reservation.has_disabled_access == 'yes' %} Yes
                                            {% elif reservation.has_disabled_access == 'no' %} No
                                            {% else %} No Preference
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p>
                                <a href="{% url 'edit_reservation' reservation.id %}" class="btn btn-view">Amend Reservation</a>
                                <a href="{% url 'delete_reservation' reservation.id %}" class="btn btn-delete">Delete Reservation</a>
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <!-- Display a message when there are no reservations -->
            <div class="alert alert-info mt-5">
                You don't have any reservations at the moment. <a href="{% url 'make_reservation' %}">Make a reservation now</a>.
            </div>
            {% endif %}
        </div>
    </div>
    
    <!-- Pagination -->
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{% endblock %}
