{% load static %}
{% url 'home' as home_url %}
{% url 'restaurant_menu' as restaurant_menu_url %}
{% url 'opening_times' as opening_times_url %}
{% url 'contact' as contact_url %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'manage_reservations' as manage_reservations_url %}
{% url 'manage_tables' as manage_tables_url %}
{% url 'make_reservation' as make_reservation_url %}
{% url 'edit_reservation' as edit_reservation_url %}
{% url 'user_reservations' as user_reservations_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <title>DINO BAR & Restaurant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Google Fonts CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    {% block styles %}{% endblock %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <!-- Load jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ home_url }}"><span class="brand">Dino's</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                            href="{{ home_url }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == restaurant_menu_url %}active{% endif %}"
                            href="{% url 'restaurant_menu' %}">Menu</a>
                    </li>
                    {% if user.is_authenticated %}
                        {% if is_staff %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == manage_reservations_url %}active{% endif %}"
                            href="{% url 'manage_reservations' %}">Manage Reservations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == manage_tables_url %}active{% endif %}"
                            href="{% url 'manage_tables' %}">Manage Tables</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == make_reservation_url %}active{% endif %}"
                            href="{% url 'make_reservation' %}">Make a Reservation</a>
                    </li>
                        {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == make_reservation_url %}active{% endif %}"
                            href="{% url 'make_reservation' %}">Make a Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == user_reservations_url %}active{% endif %}"
                            href="{{ user_reservations_url }}">My Reservations</a>
                    </li>
                        {% endif %}
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == account_login_url %}active{% endif %}"
                            href="{% url 'account_login' %}">Make a Reservation</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == opening_times_url %}active{% endif %}"
                            href="{% url 'opening_times' %}">Opennig times</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == contact_url %}active{% endif %}"
                            href="{% url 'contact' %}">Contact</a>
                    </li>
                </ul>

                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <div class="text-end ms-auto">
                            <div class="navbar-text text-muted">
                                Logged in as {{ user }}.
                            </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'account_logout' %}">Sign out</a>
                    </li>

                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == account_login_url %}active{% endif %}"
                            href="{% url 'account_login' %}">Sign in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == account_signup_url %}active{% endif %}"
                            href="{% url 'account_signup' %}">Sign up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
        </div>
    </nav>

    <main class="flex-shrink-0 main-bg">
        {% block content %}
        <!-- Page-specific content goes here -->
        {% endblock content %}
        {% if form.errors %}
        {% endif %}
    </main>

    <!-- Footer -->
    <footer class="footer mt-auto py-3 dark-bg">
        <p class="m-0 text-center text-white">
            {% block copyright %}
            © 2024 Daniel Pribula - Dino's Restaurant Booking System
            {% endblock copyright %}
        </p>
        <p class="m-0 text-center text-white">
            Follow us:
            <a href="https://www.facebook.com/DinoNottingham/"><i class="fab fa-facebook-square ms-3"></i></a>
            <a href="https://www.tripadvisor.co.uk/Restaurant_Review-g186356-d2589057-Reviews-Dino-Nottingham_Nottinghamshire_England.html/"
                target="_blank" rel="noopener" aria-label="Visit our TripAdvisor page (opens in a new tab)">
                <i class="fab fa-tripadvisor ms-3"></i>
            </a>
        </p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>
    {% block javascript %}{% endblock %}
</body>

</body>

</html>