{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">

    <!-- Welcome Section -->
    <div class="row justify-content-center text-center my-5">
        <div class="col-md-8">
            <h1 class="display-4 brand">Welcome to DINO BAR & Restaurant</h1>
            <p class="lead">Experience fine dining with exceptional service.</p>
        </div>
    </div>

    <!-- Reservation Section -->
    <div class="row justify-content-center mb-5">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center reservation-title">Make a Reservation</h2>
                    {% if user.is_authenticated %}
                    <form method="post" action="{% url 'make_reservation' %}">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-primary">Reserve a Table</button>
                        </div>
                    </form>
                    {% else %}
                    <p class="text-center">Please <a class="link {% if request.path == signup_url %}active{% endif %}" href="{{ signup_url }}">Sign up</a> to make a reservation.</p>
                    <p class="text-center">Or <a class="link {% if request.path == login_url %}active{% endif %}" href="{{ login_url }}">Login</a>.
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% include 'partials/contact_info.html' %}
</div>
{% endblock %}