/* Define CSS Variables */
:root {
    /* colour palete */
    --colour-1: #2E3D30;
    /* hsl(128, 14%, 21%) */
    --colour-1B: #3d5140;
    /* hsl(128, 14%, 28%) */
    --colour-3B: #576b5a;
    /* hsl(128, 10%, 38%) */
    --colour-2: #ce845f;
    /* hsl(20, 53%, 59%) */
    --colour-3: #bd3c2e;
    /* hsl(6, 61%, 46%) */
    --colour-4: #e0bea4;
    /* hsl(26, 49%, 76%) */
    --colour-4B: #51463d;
    /* hsl(27, 14%, 28%) */
    --colour-5: #ab9b59;
    /* hsl(48, 33%, 51%) */

    /* colour variables */
    --page-bg-colour: var(--colour-1);
    --light-txt-colour: #ededed;
    --accent-1-colour: var(--colour-2);
    --accent-2-colour: var(--colour-3);
    --head-bg-colour: var(--colour-4);
    ;
    --content-bg-colour: var(--colour-1B);
    --content-bg-colour-alt1: var(--colour-4B);
    --main-border: var(--colour-3B);

    --hover-1-colour: var(--accent-1-colour);
    --hover-2-colour: var(--accent-2-colour);
    --form-bg-colour: var(--page-bg-colour);
    --form-border: var(--main-border);
    --form-focus-border: var(--accent-1-colour);
}

.google-maps {
    width: 100%;
}

/* General Styles */
body {
    background-color: var(--page-bg-colour);
    color: var(--light-txt-colour);
}

/* Brand and Text Colors */
.post-link,
.red-o,
.btn-signup,
.btn-edit,
.btn-primary,
a,
.link,
.reservation-title {
    color: var(--accent-1-colour);
}

.brand {
    color: var(--accent-2-colour);
}


.card-title {
    font-size: 1.6rem;
}

.thin {
    font-weight: 300;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* Backgrounds */
.light-bg,
.masthead-text {
    background-color: var(--content-bg-colour);
}

.dark-bg,
.main-bg {
    background-color: var(--page-bg-colour);
}

.navbar {
    background-color: var(--head-bg-colour);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer {
    border: 1px solid var(--content-bg-colour);
    background-color: var(--content-bg-colour);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer a {
    color: var(--accent-1-colour);
}

/* Cards */
.card {
    border: 1px solid var(--content-bg-colour);
    background-color: var(--content-bg-colour);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px 20px;
    margin-bottom: 20px;
    border-radius: 0;
}

.reservation-card {
    border: 1px solid var(--content-bg-colour-alt1);
    background-color: var(--content-bg-colour-alt1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 0;
}

/* Custom CSS for setting card heights */
.contact-card {
    height: 750px;
    display: flex;
    flex-direction: column;
}

/* Ensure content inside card doesn't overflow */
.contact-card .card-body {
    flex: 1;
    overflow-y: auto;
}

.row {
    padding: 0 5px;
}

/* Image and Flash */
.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: var(--accent-1-colour);
    padding: 5px 10px;
    margin: 10px 0px;
    border-radius: 0;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

/* Masthead */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: var(--content-bg-colour);
    color: white;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: var(--content-bg-colour);
    transform: skew(15deg);
    z-index: 100;
}

/* Links and Buttons */
button,
.post-link,
.btn-signup,
.btn-create,
.btn-primary,
.btn-view,
.btn-delete,
.btn-cancel {
    text-decoration: none;
    color: #fff;
    background-color: var(--accent-1-colour);
    border: 1px solid var(--accent-1-colour);
    border-radius: 0;
    margin: 5px;
    padding: 5px 10px;
}

.post-link:hover,
.page-link {
    color: var(--accent-1-colour);
}


.btn-signup:hover,
.btn-signup:active,
.btn-primary:hover {
    background-color: #fff;
    color: var(--accent-1-colour);
}

.btn-view:hover {
    background-color: #fff;
    color: var(--hover-1-colour);
    border: 1px solid var(--hover-1-colour);
}

.btn-delete,
.btn-cancel {
    background-color: var(--accent-2-colour);
    color: #fff;
    padding: 5px 10px;
    border: 1px solid var(--accent-2-colour);
}

.btn-delete:hover {
    background-color: #fff;
    color: var(--accent-2-colour);
    border: 1px solid var(--accent-2-colour);
}

/* Pagination */
.pagination .page-link {
    color: var(--accent-1-colour);
}

.pagination .page-link:hover {
    color: var(--accent-2-colour);
}

/* Forms */
.login-form,
.signup-form {
    margin-bottom: 20px;
    padding: 30px;
    background-color: var(--content-bg-colour);
    border: 1px solid var(--form-border);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    font-weight: 600;
    color: var(--light-txt-colour);
    margin-bottom: 0.5rem;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--form-border);
    background-color: var(--form-bg-colour);
    color: var(--light-txt-colour);
    border-radius: 0;
    box-sizing: border-box;
}

.form-group input[type="checkbox"] {
    width: auto;
}


.form-group input:focus,
.form-group select:focus,
.form-group textarea:focus {
    border-color: var(--form-focus-border);
    outline: none;
}

.form-group .form-control {
    margin-top: 0.5rem;
}

.form-control {
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.preferences {
    margin-top: 20px;
}

.preference-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.preference-item {
    flex: 1;
    margin-right: 15px;
}

.preference-item:last-child {
    margin-right: 0;
}

.label {
    font-weight: bold;
}

/* Alerts */

.text-danger,
.alert-danger {
    color: #842029 !important;
    background-color: var(--colour-4);
    border-color: var(--colour-3);
    padding: 10px;
    border-radius: 0px;

}

/* Opening Time table & Table Styles */
.table {
    width: 100%;
    margin: 20px 0;
    background-color: var(--content-bg-colour);
    color: var(--light-txt-colour);
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 12px;
    border: 1px solid var(--main-border);
    text-align: left;
}

.table th {
    background-color: var(--head-bg-colour);
    color: rgba(0, 0, 0, .9);
}

/* Hide the table by default */
.opening-time-table {
    display: none;
}

/* Class to show the table when needed */
.show-opening-time-table {
    display: table;
    /* Show the table */
}

.opening-times-section {
    margin: 20px 0;
    /* Adjust as needed */
}

.opening-time-title {
    cursor: pointer;
    /* Change cursor to indicate it's clickable */
    margin-bottom: 10px;
    /* Space below the title */
    font-size: 1.5rem;
    /* Adjust font size */
}

/* Add spacing above the table */
.opening-time-table {
    margin-top: 10px;
    /* Space above the table */
}